<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="qgrepSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <qgrepSearch.Properties.Settings>
            <setting name="RegEx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIncludes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExcludes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>25, 35, 44</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>171, 173, 179</value>
            </setting>
            <setting name="BorderHoverColor" serializeAs="String">
                <value>0, 200, 215</value>
            </setting>
            <setting name="BorderSelectionColor" serializeAs="String">
                <value>0, 120, 215</value>
            </setting>
            <setting name="ResultFileColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="ResultTextColor" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="ResultHighlightColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="ResultHoverColor" serializeAs="String">
                <value>49, 69, 87</value>
            </setting>
            <setting name="ResultSelectedColor" serializeAs="String">
                <value>15, 92, 148</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ButtonHoverColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="InputHintColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="OverlayBusyColor" serializeAs="String">
                <value>124, 0, 0, 0</value>
            </setting>
            <setting name="IncludesRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludesRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateChangesCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UpdateDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UpdateFocused" serializeAs="String">
                <value>False</value>
            </setting>
        </qgrepSearch.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.6.0.0" newVersion="15.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
