<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qgrepControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <qgrepControls.Properties.Settings>
            <setting name="RegEx" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowIncludes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExcludes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludesRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcludesRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdvancedProjectSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchFilters" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupingIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterRegEx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColorOverrides" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="PathStyleIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpandModeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SearchInstantly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrimSpacesOnCopy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOpenHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonospaceFontFamily" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="NormalFontFamily" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="MonospaceFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="NormalFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="GroupHeight" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="LineHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="UseGlobalPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateIndexAutomatically" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilesPathStyleIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FilesSearchScopeIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FilterSearchScopeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowSizes" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="CppHeaderInclusion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value>[]</value>
            </setting>
        </qgrepControls.Properties.Settings>
    </userSettings>
</configuration>