<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="qgrepControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <qgrepControls.Properties.Settings>
            <setting name="RegEx" serializeAs="Bool">
                <value>True</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="ShowIncludes" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="ShowExcludes" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="IncludesRegEx" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="ExcludesRegEx" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="WholeWord" serializeAs="Bool">
                <value>False</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdvancedProjectSettings" serializeAs="Bool">
                <value>False</value>
            </setting>
        </qgrepControls.Properties.Settings>
    </userSettings>
</configuration>